{% extends 'template.html' %}

{% block content %}

    <h1>Horários - {{ data["cadeira"]["name"] }}</h1>
    <form action="/admCadeiras/{{ data["cadeira"]["cadeira_id"] }}" method="post">
        <div class="bs-example">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header bg-info" id="headingOne">
                        <button type="accordion-button" class="btn text-white" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true">
                            Criação de Horários
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="diaSemForm" class="form-label">Dia Semana</label>
                                    <select name="diaSemForm" id="diaSemForm" class="form-control mb-2 mr-sm-2">
                                        <option value="0">Domingo</option>
                                        <option value="1">Segunda-Feira</option>
                                        <option value="2">Terça-Feira</option>
                                        <option value="3">Quarta-Feira</option>
                                        <option value="4">Quinta-Feira</option>
                                        <option value="5">Sexta-Feira</option>
                                        <option value="6">Sábado</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="salaForm" class="form-label">Sala</label>
                                    <select name="salaForm" id="salaForm" class="form-control mb-2 mr-sm-2">
                                        {% for result in data["salas"] %}
                                            <option value="{{ result["sala_id"] }}">
                                                {{ result["identificacao"] }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="horaInicio" class="form-label">Hora Início</label>
                                    <input name="horaInicio" id="horaInicio" type="text" class="form-control"
                                           placeholder="00:00" required>
                                </div>
                                <div class="col-md-3">
                                    <label for="horaFim" class="form-label">Hora Fim</label>
                                    <input name="horaFim" id="horaFim" type="text" class="form-control"
                                           placeholder="00:00" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="form-label" style="margin-top: 40px">Periodo Aplicável</label>
                                </div>
                                <div class="col-md-5">
                                    <label for="tempoAplicavel" class="form-label">Início</label>
                                    <input name="dataInicio" id="tempoAplicavel" type="text" class="form-control"
                                           placeholder="dd/mm/yyyy" required>
                                </div>
                                <div class="col-md-5">
                                    <label for="tempoAplicavelF" class="form-label">Fim</label>
                                    <input name="dataFim" id="tempoAplicavelF" type="text" class="form-control"
                                           placeholder="dd/mm/yyyy" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="add btn btn-success text-white" title="Guardar" data-toggle="tooltip"
                                            style="float: right; margin-top: 20px" type="submit">
                                        <i class="far fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="accordion" id="accordionExample">
        {% for horario in data["horarios"] %}
            {% if (loop.index % 2) == 1 %}
                <div class="card" style="margin-top: 30px;">
                    <div class="card-header bg-info" id="heading{{ loop.index }}">
                        <button type="accordion-button" class="btn text-white" data-toggle="collapse"
                                data-target="#collapse{{ loop.index }}"
                                aria-expanded="false">
                            Horário - {% if horario["diaSemana"]== 0 %}
                                Domingo
                            {% elif horario["diaSemana"]== 1 %}
                                Segunda
                            {% elif horario["diaSemana"]== 2 %}
                                Terça
                            {% elif horario["diaSemana"]== 3 %}
                                Quarta
                            {% elif horario["diaSemana"]== 4 %}
                                Quinta
                            {% elif horario["diaSemana"]== 5 %}
                                Sexta
                            {% elif horario["diaSemana"]== 6 %}
                                Sábado
                            {% endif %}

                            das {{ horario["horainicio"] }} ás {{ horario["horafim"] }}
                        </button>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="diaSemForm" class="form-label">Dia Semana</label>
                                    <select id="diaSemForm" class="form-control mb-2 mr-sm-2" disabled>
                                        {% if horario["diaSemana"] == 0 %}
                                            <option selected>Domingo</option>
                                        {% elif horario["diaSemana"] == 1 %}
                                            <option selected>Segunda-Feira</option>
                                        {% elif horario["diaSemana"] == 2 %}
                                            <option selected>Terça-Feira</option>
                                        {% elif horario["diaSemana"] == 3 %}
                                            <option selected>Quarta-Feira</option>
                                        {% elif horario["diaSemana"] == 4 %}
                                            <option selected>Quinta-Feira</option>
                                        {% elif horario["diaSemana"] == 5 %}
                                            <option selected>Sexta-Feira</option>
                                        {% else %}
                                            <option selected>Sábado</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="salaForm" class="form-label">Sala</label>
                                    <select id="salaForm" class="form-control mb-2 mr-sm-2" disabled>
                                        {% for sala in data["salas"] %}
                                            {% if horario["sala_id"] == sala["sala_id"] %}
                                                <option selected>{{ sala["identificacao"] }}</option>
                                            {% else %}
                                                <option >{{ sala["identificacao"] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="horaInicio" class="form-label">Hora Início</label>
                                    <input id="horaInicio" type="text" class="form-control"
                                           value="{{ horario["horainicio"] }}" disabled>
                                </div>
                                <div class="col-md-3">
                                    <label for="horaFim" class="form-label">Hora Fim</label>
                                    <input id="horaFim" type="text" class="form-control"
                                           value="{{ horario["horafim"] }}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="form-label" style="margin-top: 40px">Periodo Aplicável</label>
                                </div>
                                <div class="col-md-5">
                                    <label for="tempoAplicavel" class="form-label">Início</label>
                                    <input id="tempoAplicavel" type="text" class="form-control"
                                           value="{{ horario["data"] }}" disabled>
                                </div>
                                <div class="col-md-5">
                                    <label for="tempoAplicavelF" class="form-label">Fim</label>
                                    <input id="tempoAplicavelF" type="text" class="form-control"
                                           value="{{ data["horarios"][loop.index]["data"] }}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a class="delete btn btn-danger" title="Eliminar" data-toggle="tooltip" href="/admCadeiras/{{ data["cadeira"]["cadeira_id"] }}/delete/{{ horario["horario_id"] }}"
                                       style="float: right; margin-top: 20px">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
        <a class="back btn btn-primary" title="Back" data-toggle="tooltip" style="float: right; margin-top: 20px"
           href="/admCadeiras">Voltar</a>
{% endblock %}

