{% extends 'template.html' %}


{% block content %}

    <h2>Listagem de Cadeiras</h2>
    <form class="form-inline" style="float: right" method="post" action="admCadeiras">
        <div class="form-group">
            <label for="curso" class="mb-2 mr-sm-2">Filtragem por Cursos:</label>
            <select id="curso" name="curso" class="form-control mb-2 mr-sm-2">
                <option value="">Todos</option>
                {% for result in data["cursos"] %}
                    <option value="{{ result["curso_id"] }}">
                        {{ result["name"] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="procurar">Procurar</label>
            <input type="text" name="search" class="form-control mb-2 mr-sm-2" id="procurar"
                   value="{% if data["search"] is defined %}{{ data["search"] }}{% endif %}">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" width="16%">Código</th>
            <th scope="col" width="35%">Curso</th>
            <th scope="col" width="34%">Nome</th>
            <th scope="col" width="15%"></th>
        </tr>
        </thead>
        <tbody>

        {% for result in data["cadeiras"] %}
            <tr>
                <td>{{ result["cadeira_id"] }}</td>
                <td>
                    {% for dcurso in data["cursos"] %}
                        {% if dcurso["curso_id"] == result["curso_id"] %}
                            {{ dcurso["name"] }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ result["name"] }}</td>
                <td>
                    <a class="view btn btn-info text-white" title="View" data-toggle="tooltip" href="/admCadeiras/{{ result["cadeira_id"] }}">
                        <i class='fas fa-eye'></i>
                    </a>
                    <a class="add btn btn-success text-white" title="Guardar" data-toggle="tooltip"
                       style="display:none">
                        <i class="far fa-save"></i>
                    </a>
                    <a class="edit btn btn-warning text-white" title="Editar" data-toggle="tooltip">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="delete btn btn-danger" title="Eliminar"
                       alt="{{ result["curso_id"] }}.{{ result["cadeira_id"] }}"
                       data-toggle="tooltip">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div id="buttonsDefault" style="display:none">
        <a class="add btn btn-success text-white" title="Guardar" data-toggle="tooltip"
           style="display:none">
            <i class="far fa-save"></i>
        </a>
        <a class="edit btn btn-warning text-white" title="Editar" data-toggle="tooltip">
            <i class="fas fa-edit"></i>
        </a>
        <a class="delete btn btn-danger" title="Eliminar" data-toggle="tooltip">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
    <button type="button" style="float: left" class="btn btn-success add-new"><i class="fa fa-plus"></i> Criar</button>

{% endblock %}

{% block scriptTags %}
    {% include 'administracao/cadeiras/jscadeirasCRUD.html' %}
{% endblock %}
