
body{
    overflow-y: hidden;
}

#imap5custom_54620779 > div > div > svg {
    float:left;
    margin-left:-1px;
    margin-right:-1px;
}

.bg-whiteblue{
    background-color: #1b9ca6;
}

.weekDays {
    border: 5px solid #f8f9fa;
    height: 400px;
    border-radius: 20px;
    padding: 0px;
    background-color: #c7e1fd91;
    margin-bottom:50px
}
.card-header {
    color:white;
    background-color: #3998ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardHorario {
    background-color: white;
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 15px;
}