
body{
    overflow-y: hidden;
}

#imap5custom_54620779 > div > div > svg {
    float:left;
    margin-left:-1px;
    margin-right:-1px;
}

.bg-whiteblue{
    background-color: #1b9ca6;
}

.weekDays {
    border: 2px solid #f8f9fa;
    height: 400px;
    background-color: #007bff91;
    border-radius: 20px;
    padding: 0px;
}