<script>
    $(document).ready(function () {
        {% if data["curso"] is defined  %}
            document.getElementById("curso").value = "{{ data["curso"] }}"
        {% endif %}

        $('[data-toggle="tooltip"]').tooltip();

        // Delete row on delete button click
        $(document).on("click", ".delete", function () {
            let tr = this.parentElement.parentElement;
            if (tr.children[0].firstChild.name == 'newId') {
                $(this).parents("tr").remove();
                $(".add-new").removeAttr("disabled");
                return;
            }

            let url = "http://localhost:5000/salas_/" + this.attributes.getNamedItem("alt").value;
            fetch(url, {
                method: "DELETE", // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer {{ session['access_token'] }}'
                },
            }).then(response => {
                response.json().then(data => {
                    if (response.status == 200 || response.status == 201) {
                        $(this).parents("tr").remove();
                        $(".add-new").removeAttr("disabled");
                        $(".bs-tooltip-top").removeClass("show").addClass("hide");
                    } else
                        alert("Status " + response.status + " - " + response.statusText + " " + data["message"]);
                });
            }).catch((error) => {
                console.error('Error:', error);
            });

        });
    });
</script>