{% extends 'template.html' %}




{% block content %}
    <div class="weekChanger row">
        <div class="col-lg-6 offset-lg-3">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    <li class="page-item">
                        <a class="page-link" href="/horarios?data={{ data["prevWeek"] }}" tabindex="-1">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">{{ data["datas"][0]["data"] }}
                        - {{ data["datas"][6]["data"] }}</a></li>
                    <li class="page-item"><a class="page-link" href="/horarios?data={{ data["nextWeek"] }}">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        {% for result in data["datas"] %}
            <div class="col-md-4 col-lg-3 shadow-sm weekDays">
                <div class="card-header shadow-sm">
                    {% if data["datas"][result]["diaSemana"] == "Terã§a" %}
                        Terça - {{ data["datas"][result]["data"] }}
                    {% elif data["datas"][result]["diaSemana"] == "Sã¡bado" %}
                        Sábado - {{ data["datas"][result]["data"] }}
                    {% else %}
                        {{ data["datas"][result]["diaSemana"] }} - {{ data["datas"][result]["data"] }}
                    {% endif %}
                </div>
                <div class="card-body">
                    {% for horario in data["horarios"] %}
                        {% if data["datas"][result]["data"] == horario["data"] %}
                            <div class="cardHorario row">
                                <div class="col-9">
                                    <span>{{ horario["cadeiraNome"] }}</span><br>
                                    <span>{{ horario["salaNome"] }}</span><br>
                                    Horas: {{ horario["horainicio"] }} - {{ horario["horafim"] }}
                                </div>
                                <div class="col-3">
                                    <a role="button" class="btn btn-success" style="margin-top: 15px"><i
                                            class="fas fa-map-marked-alt"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

