{% extends 'template.html' %}




{% block content %}
    <div class="weekChanger row">
        <div class="col-lg-6 offset-lg-3">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    <li class="page-item">
                        <a class="page-link" href="/horarios?data={{ data["prevWeek"] }}" tabindex="-1">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">{{ data["datas"][0]["data"] }}
                        - {{ data["datas"][6]["data"] }}</a></li>
                    <li class="page-item"><a class="page-link" href="/horarios?data={{ data["nextWeek"] }}">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        {% for result in data["datas"] %}
            <div class="col-md-4 col-lg-3 shadow-sm weekDays">
                <div class="card-header shadow-sm">
                    {% if data["datas"][result]["diaSemana"] == "Terã§a" %}
                        Terça - {{ data["datas"][result]["data"] }}
                    {% elif data["datas"][result]["diaSemana"] == "Sã¡bado" %}
                        Sábado - {{ data["datas"][result]["data"] }}
                    {% else %}
                        {{ data["datas"][result]["diaSemana"] }} - {{ data["datas"][result]["data"] }}
                    {% endif %}
                </div>
                <div class="card-body">
                    {% for horario in data["horarios"] %}
                        {% if data["datas"][result]["data"] == horario["data"] %}
                            <div class="cardHorario row">
                                <div class="col-9">
                                    <span>{{ horario["cadeiraNome"] }}</span><br>
                                    <span>{{ horario["salaNome"] }}</span><br>
                                    Horas: {{ horario["horainicio"] }} - {{ horario["horafim"] }}
                                </div>
                                <div class="col-3">
                                    <a role="button" class="btn btn-success" style="margin-top: 15px"
                                       onclick="openPhotoSwipe({{ horario["horario_id"] }})"><i
                                            class="fas fa-map-marked-alt"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg" style="opacity: 0.95 !important;"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>



{% endblock %}

{% block scriptTags %}

    <script>
        let dataPage = {{ data["horarios"]|safe }}
            console.log(dataPage)
        var openPhotoSwipe = function (id) {
            let pswpElement = document.querySelectorAll('.pswp')[0];
            let items = [];
            dataPage.map(i => {
                if (i.horario_id == id) {
                    items = [
                        {
                            src: '{{ url_for('static', filename='') }}/' + i.mapa0,
                            w: 1024,
                            h: 683,
                            title: "Andar: 0"
                        },
                        {
                            src: '{{ url_for('static', filename='') }}/' + i.mapa1,
                            w: 1024,
                            h: 683,
                            title: "Andar: 1"
                        },
                        {
                            src: '{{ url_for('static', filename='') }}/' + i.mapa2,
                            w: 1024,
                            h: 683,
                            title: "Andar: 2"
                        }
                    ];
                }
            })

            // define options (if needed)
            let options = {
                history: false,
                focus: false,
                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                zoomEl: true,
                shareEl: false,
                clickToCloseNonZoomable: false,
            };

            let gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };


    </script>
{% endblock %}



